 body {
  font-family: 'Poppins', sans-serif;
 }
 h1 {
  font-size: 40px;
 }
 .header-image {
  /* background-image: url(images/donation7.jpg); */
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(images/donation7.jpg);
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  
 }
 .header-area{
  text-align: center;
  padding-top: 130px;
 }
 .header-text {
  color: white;
 }
 .donate-button {
  text-decoration: none;
  color: white;
  background-color: orangered;
  padding: 10px 30px;
  border-radius: 5px;
 }

 .hero-title{
  text-align: center;
 }
 .price-area {
  display: flex;
  justify-content: center;
  
  
 }
 .price-iteam {
   box-shadow: 10px 10px 40px gray;
   margin-right: 20px;
   padding-left: 10px;
   padding-right: 10px;
   
  }
  .other-amount-area {
    margin-bottom: 50px;
  }
  hr {
    width: 50%;
    
  }
  .other-amount {
    text-align: center;
    
  }

  .donation-plan {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;

  }
  #food-family{
    background-color: blanchedalmond;
    margin-right: 20px;
    padding: 20px;
    
  }
  #shelter-family {
    background-color: aquamarine;
    margin-right: 20px;
    padding: 20px;

  }
  #education-family {
    background-color: cornflowerblue;
    padding: 20px;
  }

 